//underline on name file for the plugin Live Sass ignore  (.css .css.map) 

@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

//Sass Variables
$primary: #66ccff;
$secondary: #f3ea00;
$white: #fff;
$black: #000;

$mobileMax: 768px;

//Sass maps
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
